/* This file will hold styles for the mobile version of your website (mobile first). */
/* This also can include ANY global CSS that applies site-wide. Unless overwritten by a more specific style rule, CSS declarations in global.css will apply site-wide. */

a:link, a:visited {
	color: #5b0d12;
	text-decoration: underline;
}

a:hover {
	color: black;
	text-decoration: none;
}

/* BRANDING ZONE */
.zone-branding-wrapper {
}

/* MENU ZONE */
.zone-menu {
	background: url(../horiz-menu-bg.png) 50% 0 no-repeat;
	height: 33px;
}

nav ul.main-menu {
	padding: 0 0 0 8px;
	position: relative;
	z-index: 120;
	height: 33px;
	display: block !important;
	line-height: 1.0;
	margin-bottom: 2px;
}
	nav ul.main-menu li {
		display: block;
		float: left;
		height: 33px;
		padding: 0 0 0 8px;
	}
	nav ul.main-menu a {
		height: 33px;
		display: block;
	}

/* ZONE HEADER */
.zone-header-wrapper {
	background: #5b0d12 url(../body-bg-glow.png) 50% 0; 
}

#zone-header {
	color: white;
	background: url(../header-grad-top.png) 50% 0 no-repeat;
}

/* ELEMENTS THAT NEED TOP MARGIN */
.zone-branding-wrapper,
.zone-preface-wrapper,
.zone-content-wrapper,
.zone-postscript-wrapper {
	padding-top: 1em;
}

/* CONTENT SECTION */
.section-content {
	background: #d7d7d7 url(../content-grad-top.png) 50% 0 repeat-x;
}

.section-content h3 {
	color: #5b0d12;
}


